/* heroSection.css */

.hero-section {
    position: relative;
    overflow: hidden;
    background-color: #ffffff; /* Fundo branco para a seção */
    padding: 100px 15; /* Espaçamento na seção */
}



.hero-content {
    position: relative; /* Para garantir que o conteúdo fique acima das imagens */
    z-index: 2; /* Coloca o conteúdo acima de tudo */
    text-align: center; /* Alinha o texto ao centro */
}
